USE [master]
GO
/****** Object:  Database [IndeedLearning]    Script Date: 9/23/2023 2:11:59 PM ******/
CREATE DATABASE [IndeedLearning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IndeedLearning', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\IndeedLearning.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IndeedLearning_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\IndeedLearning_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IndeedLearning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IndeedLearning]
GO
/****** Object:  Table [dbo].[tbl_adminlogin]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_adminlogin](
	[adminid] [varchar](100) NOT NULL,
	[password] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_batch]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_batch](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[bname] [varchar](100) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[total_fee] [int] NULL,
	[batch_topic] [varchar](255) NULL,
	[batch_pic] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_classlink]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_classlink](
	[lid] [int] IDENTITY(1,1) NOT NULL,
	[batch] [int] NULL,
	[classlink] [varchar](200) NOT NULL,
	[classdate] [date] NULL,
	[starttime] [varchar](50) NULL,
	[endtime] [varchar](50) NULL,
	[message] [text] NULL,
	[add_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[lid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_contact]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_contact](
	[sr] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[mobno] [bigint] NULL,
	[email] [varchar](100) NULL,
	[message] [text] NULL,
	[enq_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_placement]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_placement](
	[id] [int] IDENTITY(101,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[college] [varchar](100) NULL,
	[course] [varchar](100) NULL,
	[company] [varchar](100) NULL,
	[post] [varchar](100) NULL,
	[field] [varchar](100) NULL,
	[package] [varchar](100) NULL,
	[clogo] [varchar](100) NULL,
	[pic] [varchar](100) NULL,
	[add_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_registerstudent]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_registerstudent](
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NULL,
	[mobileno] [bigint] NULL,
	[gender] [varchar](100) NULL,
	[college] [varchar](100) NULL,
	[course] [varchar](100) NULL,
	[batch] [int] NULL,
	[add_date] [datetime] NULL,
 CONSTRAINT [PK__tbl_regi__AB6E61656A924C15] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_submittedtask]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_submittedtask](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NULL,
	[email_id] [varchar](100) NULL,
	[ans_file] [varchar](100) NULL,
	[obtain_marks] [int] NULL,
	[total_marks] [int] NULL,
	[add_date] [datetime] NULL,
 CONSTRAINT [PK__tbl_subm__3213E83F08225117] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_task]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_task](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[title] [varchar](100) NOT NULL,
	[description] [text] NULL,
	[task_file] [varchar](255) NULL,
	[added_by] [varchar](100) NULL,
	[add_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_video]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_video](
	[vid] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[cat_id] [int] NULL,
	[v_title] [varchar](200) NULL,
	[v_desc] [text] NULL,
	[video] [varchar](100) NULL,
	[add_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[vid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_videocategory]    Script Date: 9/23/2023 2:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_videocategory](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](100) NULL,
	[cpic] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_adminlogin] ([adminid], [password]) VALUES (N'admin1.0', N'123')
GO
SET IDENTITY_INSERT [dbo].[tbl_batch] ON 

INSERT [dbo].[tbl_batch] ([bid], [bname], [start_date], [end_date], [total_fee], [batch_topic], [batch_pic]) VALUES (5, N'PYTHON WITH DJANGO', CAST(N'2023-09-05' AS Date), CAST(N'2023-10-07' AS Date), 5000, N'HTML,CSS,JAVASCRIPT', N'python.png')
INSERT [dbo].[tbl_batch] ([bid], [bname], [start_date], [end_date], [total_fee], [batch_topic], [batch_pic]) VALUES (6, N'.NET WITH MVC', CAST(N'2023-10-01' AS Date), CAST(N'2023-11-11' AS Date), 7000, N'HTML,CSS,JAVA,JAVASCRIPT ,MVC,BOOTSTRAP', N'net.png')
INSERT [dbo].[tbl_batch] ([bid], [bname], [start_date], [end_date], [total_fee], [batch_topic], [batch_pic]) VALUES (7, N'ANDROID WITH JAVA', CAST(N'2023-09-30' AS Date), CAST(N'2023-11-11' AS Date), 10000, N'HTML,CSS,JAVA,JAVASCRIPT ', N'android.png')
SET IDENTITY_INSERT [dbo].[tbl_batch] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_classlink] ON 

INSERT [dbo].[tbl_classlink] ([lid], [batch], [classlink], [classdate], [starttime], [endtime], [message], [add_date]) VALUES (4, 5, N'https://www.bing.com', CAST(N'2023-09-26' AS Date), N'13:09', N'17:03', N'Your Next class will be 24 October ', CAST(N'2023-09-22T13:05:00.000' AS DateTime))
INSERT [dbo].[tbl_classlink] ([lid], [batch], [classlink], [classdate], [starttime], [endtime], [message], [add_date]) VALUES (5, 5, N'https://www.bing.com', CAST(N'2023-09-02' AS Date), N'05:19', N'10:16', N'join link', CAST(N'2023-09-23T05:17:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_classlink] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_placement] ON 

INSERT [dbo].[tbl_placement] ([id], [name], [college], [course], [company], [post], [field], [package], [clogo], [pic], [add_date]) VALUES (112, N'Pallavi priyakar ', N'Mp polytechnic gorakhpur', N'Diploma in Computer Science', N'Google', N'web developer', N'Development ', N'120000', N'google.png', N'121.jpg', CAST(N'2023-09-19T23:51:00.000' AS DateTime))
INSERT [dbo].[tbl_placement] ([id], [name], [college], [course], [company], [post], [field], [package], [clogo], [pic], [add_date]) VALUES (113, N'Anjali Singh', N'Girls Polytechnic Gorakhpur', N'Diploma in Information Technology ', N'Samsung', N'Android Development', N'management', N'400000', N'samsung.png', N'IMG-20230919-WA0037.jpg', CAST(N'2023-09-20T00:07:00.000' AS DateTime))
INSERT [dbo].[tbl_placement] ([id], [name], [college], [course], [company], [post], [field], [package], [clogo], [pic], [add_date]) VALUES (114, N'Anamika Singh ', N'Mp polytechnic gorakhpur', N'Diploma in Computer Science', N'Amazon', N'web developer', N'management', N'200000', N'amazon-pay.png', N'IMG-20230919-WA0035.jpg', CAST(N'2023-09-20T00:08:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_placement] OFF
GO
INSERT [dbo].[tbl_registerstudent] ([name], [email], [password], [mobileno], [gender], [college], [course], [batch], [add_date]) VALUES (N'Anamika Singh ', N'anamika@gmail.com', N'123', 6201588173, N'female', N'FGPR', N'B.Tech(C.S)', 7, CAST(N'2023-09-23T04:45:22.000' AS DateTime))
INSERT [dbo].[tbl_registerstudent] ([name], [email], [password], [mobileno], [gender], [college], [course], [batch], [add_date]) VALUES (N'Pallavi', N'pallavi@gmail.com', N'12345', 9931234940, N'female', N'FGP', N'B.Tech(I.T)', 5, CAST(N'2023-09-22T12:56:23.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_submittedtask] ON 

INSERT [dbo].[tbl_submittedtask] ([id], [task_id], [email_id], [ans_file], [obtain_marks], [total_marks], [add_date]) VALUES (8, 19, N'pallavi@gmail.com', N'batch.png', 0, 0, CAST(N'2023-09-23T06:12:06.000' AS DateTime))
INSERT [dbo].[tbl_submittedtask] ([id], [task_id], [email_id], [ans_file], [obtain_marks], [total_marks], [add_date]) VALUES (9, 20, N'pallavi@gmail.com', N'about.png', 0, 0, CAST(N'2023-09-23T12:53:32.000' AS DateTime))
INSERT [dbo].[tbl_submittedtask] ([id], [task_id], [email_id], [ans_file], [obtain_marks], [total_marks], [add_date]) VALUES (10, 27, N'pallavi@gmail.com', N'adminlog.jpg', 0, 0, CAST(N'2023-09-23T13:12:48.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_submittedtask] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_task] ON 

INSERT [dbo].[tbl_task] ([task_id], [batch_id], [title], [description], [task_file], [added_by], [add_date]) VALUES (19, 5, N'Python Introduction task 1', N'Do task As Soon As Possible..', N'taskpic.png', N'Mr. Berry', CAST(N'2023-09-22T12:45:00.000' AS DateTime))
INSERT [dbo].[tbl_task] ([task_id], [batch_id], [title], [description], [task_file], [added_by], [add_date]) VALUES (20, 5, N'Python Introduction Task 2', N'Summit Before 23 September', N'taskpic2.jpg', N'Mr. Bean', CAST(N'2023-09-22T12:46:00.000' AS DateTime))
INSERT [dbo].[tbl_task] ([task_id], [batch_id], [title], [description], [task_file], [added_by], [add_date]) VALUES (21, 6, N'MVC Task 1', N'Do work As Soon As Possible', N'taskpic.png', N'Mr. berry', CAST(N'2023-09-22T12:47:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_task] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_video] ON 

INSERT [dbo].[tbl_video] ([vid], [batch_id], [cat_id], [v_title], [v_desc], [video], [add_date]) VALUES (12, 5, 8, N'HTML Leacture 1', N'What is HTML ? ', N'my.html - Bootstrap - Visual Studio Code 2023-08-24 23-51-32.mp4', CAST(N'2023-09-22T12:53:00.000' AS DateTime))
INSERT [dbo].[tbl_video] ([vid], [batch_id], [cat_id], [v_title], [v_desc], [video], [add_date]) VALUES (13, 7, 11, N'JAVASCRIPT Lecture 2', N'How To Use Javascript?', N'my.html - Bootstrap - Visual Studio Code 2023-08-24 23-51-32.mp4', CAST(N'2023-09-22T12:54:00.000' AS DateTime))
INSERT [dbo].[tbl_video] ([vid], [batch_id], [cat_id], [v_title], [v_desc], [video], [add_date]) VALUES (14, 5, 8, N'HTML Leacture 2', N'How to create  a Form using HTML? ', N'WhatsApp Video 2023-09-23 at 05.34.11.mp4', CAST(N'2023-09-23T05:38:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_video] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_videocategory] ON 

INSERT [dbo].[tbl_videocategory] ([cid], [cname], [cpic]) VALUES (8, N'HTML', N'html.png')
INSERT [dbo].[tbl_videocategory] ([cid], [cname], [cpic]) VALUES (9, N'CSS', N'css.png')
INSERT [dbo].[tbl_videocategory] ([cid], [cname], [cpic]) VALUES (11, N'JS', N'js.jpg')
SET IDENTITY_INSERT [dbo].[tbl_videocategory] OFF
GO
ALTER TABLE [dbo].[tbl_classlink]  WITH CHECK ADD FOREIGN KEY([batch])
REFERENCES [dbo].[tbl_batch] ([bid])
GO
ALTER TABLE [dbo].[tbl_registerstudent]  WITH CHECK ADD  CONSTRAINT [FK_tbl_registerstudent_tbl_batch] FOREIGN KEY([batch])
REFERENCES [dbo].[tbl_batch] ([bid])
GO
ALTER TABLE [dbo].[tbl_registerstudent] CHECK CONSTRAINT [FK_tbl_registerstudent_tbl_batch]
GO
ALTER TABLE [dbo].[tbl_submittedtask]  WITH CHECK ADD  CONSTRAINT [FK__tbl_submi__email__5DCAEF64] FOREIGN KEY([email_id])
REFERENCES [dbo].[tbl_registerstudent] ([email])
GO
ALTER TABLE [dbo].[tbl_submittedtask] CHECK CONSTRAINT [FK__tbl_submi__email__5DCAEF64]
GO
ALTER TABLE [dbo].[tbl_submittedtask]  WITH CHECK ADD  CONSTRAINT [FK__tbl_submi__task___5CD6CB2B] FOREIGN KEY([task_id])
REFERENCES [dbo].[tbl_task] ([task_id])
GO
ALTER TABLE [dbo].[tbl_submittedtask] CHECK CONSTRAINT [FK__tbl_submi__task___5CD6CB2B]
GO
ALTER TABLE [dbo].[tbl_task]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[tbl_batch] ([bid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_video]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[tbl_batch] ([bid])
GO
ALTER TABLE [dbo].[tbl_video]  WITH CHECK ADD FOREIGN KEY([cat_id])
REFERENCES [dbo].[tbl_videocategory] ([cid])
GO
USE [master]
GO
