
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_General.cshtml";
}
<style>
.a{
    text-align:center;
    margin-top:50px;

}

    .c {
        box-shadow: 0px 0px 8px 10px rgba(5, 53, 53, .1), 0px 0px 30px 20px rgb(113, 108, 108,.4);
   
    }
</style>
<h2 class="a">&nbsp;About<b class="h-color"> Us</b> <img src="~/Content/image/about.png"  style="height:30px;width:30px; "/></h2>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p style="text-align:justify;margin-left:130px; margin-top:170px; font-size:17px; margin-bottom:400px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Our mission is to touch the horizon where our capabilities may successfully meet with the requirements of our students, that too with ultimate transparency and cost-effectiveness.

                <br />
                <br />


                Over 20+ experts passionately assist students and take the hassle out of selecting, applying, and enrolling at colleges. You’ll get plenty of support at university and a chance to experience an extraordinary way of student lifestyle.

                <br />
                <br />
                Our mission is to touch the horizon where our capabilities may successfully meet with the requirements of our students, that too with ultimate transparency and cost-effectiveness.

            </p>
        </div>
        <div class="col-lg-5">
            <img src="~/Content/image/about.png" style="height:600px; width:420px; margin-top:70px; margin-left:170px; " class="c" />
            <div style="margin-left:330px; font-size:16px; margin-top:40px; font-size:20px;"><b>PALLAVI</b> <span class="h-color"> <b>PRIYAKAR</b></span></div>
            <div>
                <i style="margin-left:317px; font-size:17px; margin-top:6px;">
                    Founder of BossBerry Learning
                </i>
            </div>

        </div>
    </div>


