
@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_General.cshtml";
}
<style>
    .a {
        text-align: center;
        margin-top: 50px;
    }
    .form-control{
        width:420px;
        margin-left:30px;
    }
    .card {
        box-shadow: 0px 0px 10px 10px rgba(5, 53, 53, .1);
    }
   
</style>

<h2 class="a">&nbsp;Admin<b class="h-color"> Login </b><img src="~/Content/image/login2.png" style="height:45px; width:45px;"/></h2>

<div class="row" style="height:800px; margin-top:40px;">
    <div class="col-sm-5">
        <img src="~/Content/image/login4.jpg" style="height:600px;width:550px; margin-left:100px;" />
    </div>

    <div class="col-sm-4  text-center" style="margin-top:150px; margin-left:120px;">
        <form method="post">
            <div class="card">
                <div class="form-group mb-3 mt-4 text-center">
                    <label><b>ADMIN ID</b></label>
                    <input type="text" required name="adminid" class="form-control mt-3" placeholder="Email">
                </div>

                <div class="form-group mb-3 ">
                    <label><b>ADMIN PASSWORD</b></label>
                    <input type="password" required name="password" class="form-control mt-1" placeholder="Password ">
                </div>

                <div class="pt-1 mb-4 text-center">
                    <input type="submit" class="form-control mt-2 mb-4" value="ADMIN LOGIN" style="background: #81B441" />
                </div>
            </div>
        </form>

    </div>
</div>

