
@{
    ViewBag.Title = "Batches";
    Layout = "~/Views/Shared/_General.cshtml";
}




<style>
    .a {
        text-align: center;
        margin-top: 50px;
    }

    .card {
        box-shadow: 0px 0px 10px 10px rgba(5, 53, 53, .1), 0px 0px 30px 20px rgb(113, 108, 108,.3);
        transform: translate(30px,30px);
    }
</style>
<h2 class="a">&nbsp;New <b class="h-color"> Batches</b> <img src="~/Content/image/batch.png" style="height:45px; width:45px;" /></h2>
<div class="container">
    <div class="row" style="margin-bottom:50px;">
        <div class="col-sm-3 mt-5 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/.net1.jpeg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center"><b>Batch_Name : .NET</b></p>

                    <p class="card-text text-center"><b>Start_Date : 23 august</b></p>
                    <p class="card-text text-center"><b>End_Date :26 september </b></p>
                    <p class="card-text text-center"> <b>Total_fee : 12000</b> </p>


                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-5 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/Python2.jpeg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center"><b>Batch_Name : Python</b></p>
                    <p class="card-text text-center"><b>Start_Date : 23 august</b></p>
                    <p class="card-text text-center"><b>End_Date :26 september </b></p>
                    <p class="card-text text-center"> <b>Total_fee : 12000</b> </p>


                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-5 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/batch1.jpeg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center"><b>Batch_Name : C++</b></p>
                    <p class="card-text text-center"><b>Start_Date : 23 august</b></p>
                    <p class="card-text text-center"><b>End_Date :26 september </b></p>
                    <p class="card-text text-center"> <b>Total_fee : 12000</b> </p>


                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-5 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/android1.jpeg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center"><b>Batch_Name : Android</b></p>
                    <p class="card-text text-center"><b>Start_Date : 23 august</b></p>
                    <p class="card-text text-center"><b>End_Date :26 september </b></p>
                    <p class="card-text text-center"> <b>Total_fee : 12000</b> </p>


                </div>
            </div>
        </div>
    </div>
    </div>
