
@{
    ViewBag.Title = "Facility";
    Layout = "~/Views/Shared/_General.cshtml";
}


<style>
    .a {
        text-align: center;
        margin-top: 50px;
    }

    .card {
        box-shadow: 0px 0px 10px 10px rgba(5, 53, 53, .1), 0px 0px 30px 20px rgb(113, 108, 108,.3);
        
        transform: translate(30px,30px);
    }
</style>
<h2 class="a">&nbsp;Our <b class="h-color"> Faculty</b> <img src="~/Content/image/faculty.png"  style="height:45px; width:45px;"/></h2>
<div class="container">
    <div class="row" style="margin-bottom:50px;">
        <div class="col-sm-3 mt-5 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/teacher7.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>


        <div class="col-sm-3 mt-5 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/teacher1.jpeg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-5 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/teacher3.jpeg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>


        <div class="col-sm-3 mt-5 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/teacher.jpeg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>


        <div class="col-sm-3 mt-2 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/teacher8.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-2 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/teacher9.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div><div class="col-sm-3 mt-2 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/teacher.jpeg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-2 mb-5">
            <div class="card" style="">
                <img src="~/Content/image/teacher6.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>


    </div>
</div>

