<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.bundle.js"></script>

    <style>

        :root {
            --bgcolor: #262626;
            --txtcolor: linear-gradient( 45deg, #b2ff59, #2e7d32 );
            --tcolor: #b2ff59;
            --hfcolor: #81B441;
        }

        .bg-mycolor {
            background: var(--bgcolor);
        }


        .t-color {
            color: var(--tcolor);
        }

        .h-color {
            color: var(--hfcolor);
        }

        .head-color {
            background: var(--txtcolor);
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row text-center head-color">
            <div class="col-lg-4 col-md-6 col-sm-12">

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <b> Welcome to Admin Zone </b>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">

            </div>
        </div>
        <div class="row menu">
            @*Start menu*@

            <nav class="navbar navbar-dark bg-dark sticky-top" style="margin-top:.1%;">
                <div class="container-fluid ps-5">
                    <a class="navbar-brand fs-2" href="#">
                        <span style=" margin-left:10px; border-left: 4px solid #81B441;" class="t-color ps-1">BossBerry</span> <b class="text-light">  Learning <i class="fa-solid fa-book-open-reader"></i></b>


                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/admin/index">
                                        <i class="fa-solid fa-bars"></i>&nbsp;Dashboard

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/category"> <i class="fa-solid fa-bars"></i>&nbsp; Add Video Category </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/addbatch">  <i class="fa-solid fa-bars"></i>&nbsp; Add Batch </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/addassignment">  <i class="fa-solid fa-bars"></i>&nbsp; Add Assignment </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/addvideo">  <i class="fa-solid fa-bars"></i>&nbsp; Add  Video </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/successstory">  <i class="fa-solid fa-bars"></i>&nbsp; success Story </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/classlink">  <i class="fa-solid fa-bars"></i>&nbsp; Add Class Link </a>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-bars"></i>&nbsp;  Management
                                    </a>
                                    <ul class="dropdown-menu text-light bg-dark ">
                                        <li><a class="dropdown-item text-light" href="/admin/studentmanagement">Student Management</a></li>
                                        <li><a class="dropdown-item text-light" href="/admin/EnquiryManagement">Enquiry Management</a></li>

                                        <li><a class="dropdown-item text-light" href="/admin/SubmittedTaskManagement">Submitted Task Management</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/changepassword">  <i class="fa-solid fa-bars"></i>&nbsp;Change Password </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/adminlogin">  <i class="fa-solid fa-bars"></i>&nbsp;Logout </a>
                                </li>

                            </ul>


                        </div>
                    </div>
                </div>
            </nav>
            @*end menu*@
        </div>

        <div class="row">
            <div class="col-sm-12 py-3" style="min-height:700px;">
                @RenderBody()
            </div>
        </div>
        <div class="row footer text-bg-dark text-center py-2 fs-5">
            <div class="col-sm-6">
                &copy; <a style="text-decoration:none;color:white"
                          href="httpa://www.techpile.in">BossBerry Learning</a>
            </div>
            <div class="col-sm-6">
                <b>Design and Developed By :</b><i>Pallavi priyakar</i>
            </div>
        </div>
    </div>
</body>
</html>
