
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<head>
    <style>

        .card {
            box-shadow: 0px 0px 10px 10px rgba(5, 53, 53, .1), 0px 0px 30px 20px rgb(113, 108, 108,.3);
        }
    </style>
</head>

<div class="row p-5">
    <div class="col-sm-4 card">
        <div class="card-body">
            <h4 class="card-title text-center" style="color: #81B441">CHANGE PASSWORD</h4>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group mt-3 text-center">
                    <label for="exampleInputEmail1"><b>OLD PASSWORD</b></label>
                    <input type="text" name="oldpass" class="form-control" aria-describedby="Category" placeholder="Enter old password" />
                </div>
                <div class="form-group mt-3 text-center">
                    <label for="exampleInputEmail1"><b>NEW PASSWORD</b></label>
                    <input type="text" name="newpass" class="form-control" aria-describedby="Category" placeholder="Create password" />
                </div>

                <div class="form-group mt-3 text-center">
                    <label for="exampleInputEmail1"><b>CONFIRM PASSWORD</b></label>
                    <input type="text" name="confirmpass" class="form-control" aria-describedby="Category" placeholder=" Confirm password" />
                </div>



                <input class="btn btn-success mt-3" type="submit" style="background: #81B441;width:100%;" value="CHANGE NOW" />
            </form>
        </div>
    </div>


    <div class="col-sm-7  card text-center ms-5">


        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Old_Password</th>
                        <th>New_Password</th>
                        <th>Confirm_Password</th>
                        <th>Action</th>



                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>

